* {
  box-sizing: border-box;
}
.card {
  transition: .3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgb(1, 66, 50);
}

/* Float four columns side by side */
.column {
  float: left;
  width: 100%;
  padding: 0 30px;
}

/*==================== MEDIA QUERIES ====================*/
/******** For Smart Phone ************/
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin: 15px 0;
  }
}

/******** For Tablet ************/
@media screen and (min-width: 768px) {
  .column {
    width: 50%;
    display: block;
    margin: 15px 0;
  }
}
/******** For Hd display laptop ************/
@media screen and (min-width: 900px) {
  .column {
    width: 33%;
    display: block;
    margin: 15px 0;
  }
}
/******** For full Hd display laptop ************/
@media screen and (min-width: 1800px) {
  .column {
    width: 25%;
    display: grid;
    margin: 15px 0;
  }
}
