.content {
  padding: 1% 5%;
  font-family: "Noto Serif";
  font-weight: 700;
  font-size: 53px;
  color: #050000;
  float: left;
}
.content-small {
  padding: 1% 5.3%;
  font-family: "Noto Serif";
  font-weight: 300;
  font-size: 2.5rem;
  float: left;
  color: #475a46;
}

.blank {
  margin-top: 5%;
}

.box {
  margin: 2% 0%;
  display: inline-block;
  padding: 0.5% 0.5%;
  border-radius: 5px;
  border-style: groove;
}

/* button {
  padding: 2% 2%;
  background-color: #b7f8b6;
  text-align: center;
} */
