.logo {
  height: 3rem;
}

.tabs {
  display: flex;
  align-items: center;
}
.tabs > div {
  display: none;
}
@media screen and (max-width: 600px) {
  .tabs > a {
    display: none;
  }
  .tabs > div {
    display: block;
  }
}
.ham-container {
  padding-right: 2rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  content: "TASK TRACKER"
}

/***************************/

.side-nav {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  transition: 200ms;
  /*background-color: var(--side-nav_bg-clr) !important;*/
  background-color: #c9ceca14;
  min-width: 100%;
  min-height: 100vh;
  z-index: 5;
}
.side-nav-content {
  min-width: 230px;
  max-width: 360px;
  background-color: #30be96;
  min-height: 100vh;
}
.side-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.side-nav__list > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  width: 100%;
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  transition: 200ms ease-in;
}
.side-nav__list > a:hover {
  background-color: #fff;
  color: #333;
  padding: 1.4rem 0rem;
}
/* .side-nav__list>a.active {
  color: #add497;
  background-color: #333;
} */
.side-nav__list > a:hover:not(.active) {
  background-color: #eee;
}
.close-wrapper {
  padding: 0.5rem;
  padding-right: 2rem;
  display: flex;
  justify-content: flex-end;
}
.side-nav.hidden {
  transform: translateX(-100%);
}
